@font-face {
  font-family: Mona Sans Wide;
  src: url(/Assets/Fonts/MonaSans/OTF/Mona-Sans-MediumWide.otf);
}
@font-face {
  font-family: Mona Sans Italic;
  src: url(/Assets/Fonts/MonaSans/OTF/Mona-Sans-MediumWideItalic.otf);
}
@font-face {
  font-family: Mona Sans;
  src: url(/Assets/Fonts/MonaSans/OTF/Mona-Sans-MediumWide.otf);
}
@font-face {
  font-family: Mona Sans regular;
  src: url(/Assets/Fonts/MonaSans/OTF/Mona-Sans-Regular.otf);
}
@font-face {
  font-family: Mona Sans Narrow Italic;
  src: url(/Assets/Fonts/MonaSans/OTF/Mona-Sans-MediumNarrowItalic.otf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #EEE5E5;
  font-family: Mona Sans;
}
body {
  background: #0D0D0D;
  overflow: auto;
  overflow-x: hidden;
  width: 100vw;
}
.container {
  height: 100vh;
  width: 100vw;
}
section {
  padding: 4.2vw;
  width: 100vw;
}
header {
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
}
#header_logo {
  height: 6vh;
  width: auto;
  margin: 3vh 0 auto 4vw;
}
.navbar {
  width: 33.5vw;
  height: 9vh;
  margin: 1.5vh auto;
  border: 1px solid #D9D9D9;
  border-radius: 35px;
  background: linear-gradient(0deg, #1E1E1E, #313131);
  display: flex;
}
.navbar_item {
  border-radius: 30px;
}
.nav_link {
  height: 7vh;
  width: 7.5vw;
  margin: auto;
  font-size: 1.1vw;
  line-height: 7vh;
  text-align: center;
}
.nav_link:focus {
  background-color: #EEE5E5;
  color: #0D0D0D;
}
.right_nav {
  width: 15vw;
  height: 9vh;
  margin: auto 3vw auto 0;
  display: flex;
  flex-direction: row;
}
.lets_talk {
  height: inherit;
  width: 9vw;
  margin: 0 2vw 0 0;
  border: 1px solid #EEE5E5;
  font-size: 1.1vw;
  line-height: 9vh;
  text-align: center;
  border-radius: 40px;
}
#lets_talk:hover {
  box-shadow: 1px 1px 10px #d9d9d936;
}
.dropdown_menu {
  height: 9vh;
  width: 9vh;
  border: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #1E1E1E, #313131);
}
.dropdown_lines {
  width: 1.9vh;
  height: 4vh;
  border-left: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(-90deg);
}
.dropdown_menu:hover .dropdown_lines {
  transform: none;
  -webkit-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
h1 {
  font-family: Mona Sans Wide;
  font-style: wide;
  font-weight: 400;
  font-size: 6.5vw;
  line-height: 15vh;
}
.oval_icons {
  display: inline;
}
.oval_icon1 {
  width: 24vw;
  margin: 0 1.5vw -2.5vh 1vw;
}
.oval_icon2 {
  width: 13vw;
  margin: 0 0 -2.5vh 1.5vw;
}
.main_title2 {
  font-family: Mona Sans Italic;
  display: inline;
  background: -webkit-linear-gradient(#1085fe, #1085fe, #a4ccf557);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section1_img {
  display: block;
  margin: 7vh auto 4vh auto;
  width: 90vw;
}
.circle_graphic {
  position: absolute;
  margin: -1vh 0 0 84.5vw;
}
.title2 {
  margin: 7vh 0 0 0.4vw;
  letter-spacing: 1px;
  font-size: 4.65vw;
}
.title2_about {
  font-family: Mona Sans Italic;
  font-weight: 100;
  margin: 4vh 0;
}
.title2_kodelab {
  font-weight: 600;
  letter-spacing: 1px;
}
.section2_p {
  width: 100vw;
  padding: 0 0.5vw;
  font-size: 3vw;
  margin: 6.5vh 0 0 0;
  line-height: 10vh;
  word-spacing: 1.5px;
  letter-spacing: 1;
  font-family: Mona Sans;
}
.horizontal_divider {
  width: 90vw;
  margin: 10vh auto;
  height: 1.5px;
  background-color: #D9D9D9;
  position: relative;
}
#horizontal_divider2 {
  margin: 10vh auto 0 auto;
}
.features {
  width: 100vw;
  height: 100vh;
  padding: 0 0.35vw;
  display: flex;
  flex-direction: row;
}
.feature1,
.feature2,
.feature3 {
  width: 29vw;
  padding: 0 3vw 0 0;
}
.feature2,
.feature3 {
  width: 32vw;
  padding: 0 3vw;
}
.features h2 {
  font-size: 6.5vw;
  background: -webkit-linear-gradient(white, #313131);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features h4 {
  font-size: 2vw;
  font-weight: 400;
  margin: 4vh 0 7vh 0;
}
.features_p {
  font-size: 1.5vw;
  font-family: Mona Sans regular;
  color: #c2c2c2;
  padding: px;
  line-height: 2.4rem;
}
.vertical_divider {
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, #1E1E1E, #c2c2c2, #c2c2c2);
  margin: 0 1vw 0 0;
}
.wierd_cube {
  margin: 8vh 0;
}
.section3 {
  width: 100vw;
  padding: 0 4.45vw;
}
.section3_h {
  font-size: 7.3vw;
  font-weight: 400;
}
.section3_h--our {
  display: block;
  font-size: 6.97vw;
  font-family: Mona Sans Italic;
}
.section3_h {
  margin-bottom: 15vh;
}
.service {
  width: 92vw;
  height: 95vh;
  margin: 5vh auto;
  background-color: #161719;
  display: flex;
  flex-direction: row;
}
.service h3 {
  position: absolute;
  font-size: 4.6vw;
  font-weight: 100;
  margin: 12vh 0 5vh 5vw;
}
.service img {
  width: 92vw;
  height: auto;
}
#service2 img {
  height: auto;
  width: 38vw;
  margin: auto 4vw;
}
#service2 h3 {
  margin: 46vh 0 0 50%;
}
#service2 p {
  margin: 60vh 0 0 50%;
}
.service_p {
  position: absolute;
  width: 39vw;
  letter-spacing: 1.3px;
  word-spacing: 1px;
  line-height: 2rem;
  font-size: 1.4vw;
  margin: 25vh 0 0 5vw;
  color: #c2c2c2;
}
.section4 {
  height: 85vh;
  display: grid;
  grid-template-columns: 45% 55%;
}
.section4 h2 {
  font-size: 5vw;
  line-height: 13vh;
  font-weight: 200;
  letter-spacing: 1px;
  margin: auto;
}
.section4 h3 {
  font-size: 2vw;
  font-weight: 100;
}
.section4 p {
  width: 68%;
  margin: 5vh 0;
  font-size: 1.3vw;
  font-weight: 100;
  line-height: 4.2vh;
  letter-spacing: 1px;
  color: #c2c2c2;
}
#section4_lefttext {
  margin: 10vh 0 0 0;
}
#tape {
  width: 100vw;
  height: 13vw;
  background-color: #EEE5E5;
  text-align: center;
}
#tape span {
  display: block;
  color: black;
  font-size: 6.78vw;
  line-height: 13vw;
  font-style: italic;
}
#tape img {
  height: 6.7vw;
}
.section5 {
  margin: 14vh auto 5vh auto;
  display: grid;
}
#section5_example {
  display: flex;
  flex-direction: row;
}
#section5_mockup {
  width: 57.7vw;
  margin: 0 1vw 0 0;
}
#section5_mockup-description {
  height: 100%;
  width: 31vw;
  margin: 0 2vw;
  padding: 7vh 3vw;
  background-color: #161719;
}
#section5_mockup-description h3 {
  font-size: 2.65vw;
  font-weight: 100;
  margin: 0 0 5vh 0;
}
#section5_mockup-description p {
  font-size: 1.1vw;
  font-weight: 100;
  line-height: 4vh;
  letter-spacing: 1px;
  color: #c2c2c2;
}
.button_style {
  height: 6.1vh;
  width: 7vw;
  display: inline-block;
  margin: 2.5vh 0.5vw 2.5vh 0;
  border: 1px solid #EEE5E5;
  font-size: 1.1vw;
  line-height: 6.1vh;
  text-align: center;
  border-radius: 40px;
}
#section5_largebutton {
  width: 14.3vw;
  height: 8.4vh;
  display: block;
  margin: 3vh 0;
  line-height: 8.4vh;
  border: 2px solid #EEE5E5;
}
#portfolio {
  width: 100vw;
  margin: -7vh auto 10vh auto;
  display: grid;
  grid-template-columns: repeat(2, 45vw);
  grid-template-rows: repeat(2, auto);
  column-gap: 1.6vw;
}
#portfolio :nth-child(even) {
  grid-column-start: 2;
}
.portfolio_item {
  height: 50vw;
  width: 44.2vw;
  margin-top: 8vh;
}
.portfolio_item h3 {
  font-size: 2vw;
  font-weight: 100;
  margin: 3.75vh 0 5vh 0;
  display: inline;
}
.portfolio_item a {
  height: 8.5vh;
  width: 10.5vw;
  display: inline-block;
  margin: 2.5vh 0 2.5vh 9vw;
  border: 2px solid #EEE5E5;
  border-radius: 40px;
  font-size: 1.2vw;
  line-height: 8.5vh;
  text-align: center;
}
.portfolio_item img {
  height: auto;
}
.portfolio_item a:hover {
  background-color: #EEE5E5;
  color: #0D0D0D;
  transition: background-color 0.5s ease;
}
#view_more {
  height: 16vw;
  width: 16vw;
  margin: 10vh auto 23vh auto;
  display: block;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  line-height: 16vw;
  text-align: center;
  font-size: 1.2vw;
}
.section6 {
  display: flex;
  flex-direction: row;
}
.section6 img {
  width: 30vw;
  height: 100%;
  margin: 2vh 0 0 2vw;
}
.section6 h2 {
  padding: 2vh 0 0 8vw;
  font-size: 5.4vw;
  font-weight: 100;
}
.section6 p {
  margin: 2vh 0;
  padding: 2vh 0 0 8vw;
  color: #c2c2c2;
  font-size: 1.2vw;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 5vh;
}
