@font-face {
  font-family: Mona Sans Wide;
  src: url(/Assets/Fonts/MonaSans/OTF/Mona-Sans-MediumWide.otf);
}
@font-face {
  font-family: Mona Sans Italic;
  src: url(/Assets/Fonts/MonaSans/OTF/Mona-Sans-MediumWideItalic.otf);
}
@font-face {
  font-family: Mona Sans;
  src: url(/Assets/Fonts/MonaSans/OTF/Mona-Sans-MediumWide.otf);
}
@font-face {
  font-family: Mona Sans regular;
  src: url(/Assets/Fonts/MonaSans/OTF/Mona-Sans-Regular.otf);
}
@font-face {
  font-family: Mona Sans Narrow Italic;
  src: url(/Assets/Fonts/MonaSans/OTF/Mona-Sans-MediumNarrowItalic.otf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #EEE5E5;
  font-family: Mona Sans;
}
body {
  background: #0D0D0D;
  overflow: auto;
}
.container {
  height: 100vh;
  width: 100vw;
}
header {
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
}
#header_logo {
  height: 6vh;
  width: auto;
  margin: 3vh 0 auto 4vw;
}
.navbar {
  width: 33.5vw;
  height: 9vh;
  margin: 1.5vh auto;
  border: 1px solid #D9D9D9;
  border-radius: 35px;
  background: linear-gradient(0deg, #1E1E1E, #313131);
  display: flex;
}
.navbar_item {
  border-radius: 30px;
}
.nav_link {
  height: 7vh;
  width: 7vw;
  margin: auto;
  font-size: 0.95rem;
  line-height: 7vh;
  text-align: center;
}
.nav_link:focus {
  background-color: #EEE5E5;
  color: #0D0D0D;
}
.right_nav {
  width: 15vw;
  height: 9vh;
  margin: auto 3vw auto 0;
  display: flex;
  flex-direction: row;
}
#lets_talk {
  height: inherit;
  width: 9vw;
  margin: 0 2vw 0 0;
  border: 1px solid #EEE5E5;
  font-size: 0.95rem;
  line-height: 9vh;
  text-align: center;
  border-radius: 40px;
}
#lets_talk:hover {
  box-shadow: 1px 1px 10px #d9d9d936;
}
.dropdown_menu {
  height: 9vh;
  width: 9vh;
  border: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33px;
  background: linear-gradient(0deg, #1E1E1E, #313131);
}
.dropdown_lines {
  width: 1.9vh;
  height: 4vh;
  border-left: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(-90deg);
}
.dropdown_menu:hover .dropdown_lines {
  transform: none;
  -webkit-transition: transform 0.5s ease-in-out;
}
h1 {
  font-family: Mona Sans Wide;
  font-style: wide;
  font-weight: 400;
  font-size: 6.2rem;
  line-height: 9rem;
}
.main_title1 {
  margin: 9.5vh 0 0 4.45vw;
}
.oval_icons {
  display: inline;
}
.oval_icon1 {
  margin: 0 2vw -1vh 5.5vw;
}
.main_title2 {
  font-family: Mona Sans Italic;
  display: inline;
  margin: 0 2vw 0 0;
  background: -webkit-linear-gradient(#1085fe, #1085fe, #a4ccf557);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main_title3 {
  margin: 0 0 0 4.45vw;
}
#section1_img {
  display: block;
  margin: 7vh auto;
}
.circle_graphic {
  position: absolute;
  margin: -1vh 0 0 88.5vw;
}
.title2 {
  margin: 15vh 0 0 4.45vw;
  letter-spacing: 1px;
  font-size: 4rem;
}
.title2_about {
  font-family: Mona Sans Italic;
  font-weight: 100;
  margin: 4vh 0;
}
.title2_kodelab {
  font-weight: 600;
  letter-spacing: 1px;
}
.section2_p {
  width: 100vw;
  padding: 0 4.45vw;
  font-size: 2.9rem;
  margin: 5vh 0 0 0;
  line-height: 10vh;
  word-spacing: 1.5px;
  letter-spacing: 1;
  font-family: Mona Sans;
}
.horizontal_divider {
  width: 90vw;
  margin: 10vh auto;
  height: 1.5px;
  background-color: #D9D9D9;
}
.features {
  width: 100vw;
  height: 100vh;
  padding: 0 4.35vw;
  display: flex;
  flex-direction: row;
}
.feature1,
.feature2,
.feature3 {
  width: 29vw;
  padding: 0 3vw 0 0;
}
.feature2,
.feature3 {
  width: 32vw;
  padding: 0 3vw 0 3vw;
}
.features h2 {
  font-size: 6.3rem;
  background: -webkit-linear-gradient(white, #313131);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features h4 {
  font-size: 1.9rem;
  font-weight: 400;
  margin: 4vh 0 7vh 0;
}
.features_p {
  font-size: 1.3rem;
  font-family: Mona Sans regular;
  color: #c2c2c2;
  padding: px;
  line-height: 2.4rem;
}
.vertical_divider {
  height: 100%;
  width: 1px;
  background-color: #c2c2c2;
  margin: 0 1vw 0 0;
}
.wierd_cube {
  margin: 8vh 0;
}
